[flake8]
ignore = Q000,W504,E203
max-line-length = 88
exclude =
    .git
    __pycache__
    build
    dist
per-file-ignores =
    correlation_function_fits.py: ET001,E266
max-complexity = 10
doctests = True